.App {
  display: flex;
  flex-direction: column; /* Organiza los elementos en una columna */
  justify-content: center; /* Centra el contenido verticalmente */
  align-items: center; /* Centra el contenido horizontalmente */
  height: 100vh; /* Ocupa toda la altura de la ventana */
  margin: 0; /* Elimina márgenes predeterminados del body */
  background-color: #f0f0f0; /* Opcional: Cambia el fondo si lo deseas */
}

h1 {
  margin: 0; /* Elimina márgenes predeterminados */
  font-size: 2rem; /* Ajusta el tamaño de la fuente según sea necesario */
  color: #333; /* Cambia el color del texto si lo deseas */
  text-align: center; /* Asegura que el texto dentro del h1 esté centrado */
}

